@model WilcoCon.Models.PayScale

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PayScale</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.BasicHourlyRate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BasicHourlyRate)
                @Html.ValidationMessageFor(model => model.BasicHourlyRate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FringeBenefitPayments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FringeBenefitPayments)
                @Html.ValidationMessageFor(model => model.FringeBenefitPayments)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkillId, "SkillId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SkillId", String.Empty)
                @Html.ValidationMessageFor(model => model.SkillId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, "ProjectId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProjectId", String.Empty)
                @Html.ValidationMessageFor(model => model.ProjectId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
